<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
<div class="header">
    <div class="container">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Basket</a></li>
                <li><a href="#">New deals</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </div>
<div class="headtext">
    <p>Welcome to</p>
    <h1>EBUY</h1>
    <!-- <img src="/images/image.jpeg" alt="Photo" class="Photo"> -->
</div>
</div>

<!----------Personal_Projects-------------->
<section id="products-sale">
    <div class="personal-projects-col1">
        <h1>Items on sale</h1>
        <div class="Product">
            <div>
                <h2>item1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum egestas placerat. Etiam ultrices, est quis rutrum ullamcorper, arcu quam faucibus quam, id fringilla nisl quam non metus. Nam at sapien tempor, malesuada lorem vitae, tincidunt metus. Integer gravida aliquam vestibulum. Integer eu dignissim nibh. Pellentesque faucibus commodo rhoncus. Fusce ex orci, ultricies a augue a, blandit ornare ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin ut metus porta lorem commodo semper. Integer iaculis libero vel nunc elementum, at efficitur enim condimentum.</p>
                <a href="https://github.com/jsmith3979/WeatherWebApp">Link to project</a>
            </div>
        </div>
        <div class="Product">
            <div>
                <h2>item2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum egestas placerat. Etiam ultrices, est quis rutrum ullamcorper, arcu quam faucibus quam, id fringilla nisl quam non metus. Nam at sapien tempor, malesuada lorem vitae, tincidunt metus. Integer gravida aliquam vestibulum. Integer eu dignissim nibh. Pellentesque faucibus commodo rhoncus. Fusce ex orci, ultricies a augue a, blandit ornare ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin ut metus porta lorem commodo semper. Integer iaculis libero vel nunc elementum, at efficitur enim condimentum.</p>
                <a href="https://github.com/jsmith3979/CalendarApp/tree/main">Link to project</a>
            </div>
        </div>
        <div class="Product">
            <div>
                <h2>item3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum egestas placerat. Etiam ultrices, est quis rutrum ullamcorper, arcu quam faucibus quam, id fringilla nisl quam non metus. Nam at sapien tempor, malesuada lorem vitae, tincidunt metus. Integer gravida aliquam vestibulum. Integer eu dignissim nibh. Pellentesque faucibus commodo rhoncus. Fusce ex orci, ultricies a augue a, blandit ornare ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin ut metus porta lorem commodo semper. Integer iaculis libero vel nunc elementum, at efficitur enim condimentum.</p>
                <a href="https://github.com/jsmith3979/Yugioh_game">Link to project</a>
            </div>
        </div>
        <div class="Product">
            <div>
                <h2>item4</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum egestas placerat. Etiam ultrices,
                est quis rutrum ullamcorper, arcu quam faucibus quam, id fringilla nisl quam non metus. Nam at sapien tempor,
                malesuada lorem vitae, tincidunt metus. Integer gravida aliquam vestibulum. Integer eu dignissim nibh. Pellentesque
                faucibus commodo rhoncus. Fusce ex orci, ultricies a augue a, blandit ornare ex. Interdum et malesuada fames ac ante
                ipsum primis in faucibus.
                Proin ut metus porta lorem commodo semper. Integer iaculis libero vel nunc elementum, at efficitur enim condimentum.</p>
                <a href="https://github.com/jsmith3979/AI-Program">Link to project</a>
            </div>
        </div>
    </div>
</section>
<!--------About_Section--------->
<section id="about">
    <div class="row">
        <div class="about-col-1">
<!--            <img src="/images/image.jpeg" alt="Photo2" class="Photo2">-->
        </div>
        <div class="about-col-2">
            <h1>Deals</h1>
            <div class="tabs">
                <p class="tab-links active-link" onclick="opentab('Favourites')">Favourites</p>
                <p class="tab-links"onclick="opentab('Reviewed')">Reviewed</p>
            </div>
            <div class="tab-contents active-tab" id="Favourites">
                <ul>
                    <li><span>Weston College</span><br>BTEC Level 3 Extended Diploma in Computer science
                        Date Completed: [June, 2021]
                        </li>
                    <li><span>University Of The West Of England</span><br>BSc/BA Computer Science (Hons)
                        Expected Graduation: [June, 2025]
                        </li>
                </ul>
            </div>
            <div class="tab-contents" id="Reviewed">
                <ul>
                    <li><span>UI/UX</span><br>Experience in: HTML, CSS and Javascript.</li>
                    <li><span>Server Side developement</span><br>Experience in: Python, Kotlin, Java, C++, MySQL and Flask. </li>
                    <li><span>Interests</span><br>Designing and developing web & mobile applications, database developement and software developement.</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");

    function opentab(tabname){
        for(tablink of tablinks){
            tablink.classList.remove("active-link")
        }
        for(tabcontent of tabcontents){
            tabcontent.classList.remove("active-tab")
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }

</script>



</body>

</html>